@model pEasyPrint.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   @* <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                

                <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                    </div>
            </li>
            <li>
                <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                    </div>
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        
    </fieldset>*@
    
     <div class="col-main">
        <div class="account-login">
            <div id="login" style="margin-bottom: 0px;height: 360px;margin-top: 30px;">
                <div id="login_header">
                    <div class="col2-set">
                        <div class="col-1 new-users">
                            <div class="content">
                                <h2>Change Password</h2>
                                <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
                                <ul class="form-list">
                                    <li>
                                        <label class="required" for="email">Current password</label>
                                        <div class="input-box">
                                         @Html.PasswordFor(m => m.OldPassword)
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="pass"> New password</label>
                                        <div class="input-box">
                                        
                @Html.PasswordFor(m => m.NewPassword) </div>
                                    </li>
                                    <li>
                                        <label class="required" for="pass"> Confirm new password</label>
                                        <div class="input-box">
                                        
                @Html.PasswordFor(m => m.ConfirmPassword) </div>
                                    </li>
                                </ul>
                               
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="submit" value="Change password"  class="btn btn-primary btn-large btn-arrow"/>
                                       
                                    </div>
                                </div>


                                <div class="control-group">
                                    <div class="controls">
                                        <input type="button" value="Go Back"  onclick="goBack()"  class="btn btn-primary btn-large btn-arrow" style="margin-left:20px;"/>
                                       
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
}

<script>
    function goBack() {
        window.history.go(-2)
    }
</script>