@model pEasyPrint.Areas.Admin.Models.DesignerModel
 
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@using MvcContrib.Pagination
@using MvcContrib.UI.Grid.ActionSyntax
@using System.Linq;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.8.24.js"></script> 
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
 <style>
     #Sex {
     height:10px
     }
     .adddiv label {
    font-family: Arial;
    font-size: 17px;
    font-weight: normal;
}
 </style>
 <div class="container-fluid  content-center">
     <div class="row adddiv">
      <div class="grid_3  left-sidebar" style="width:16.667%">
           @Html.Partial("_AdminLeftMenu", Model.objOrderModel)
       </div>
          <div class="grid_10"  >
       <div class="grid_12" style="border-bottom:none" >
               @Html.Partial("_AdminTopMenu")
                     
          </div>
               <div class="breadcrumbs">
                    <div class="center_align">
                        <ul>
                            <li class="category287"><strong>@Html.ActionLink("Dashboard", "Index", "ContentWriter")      </strong><span><img src="/../images/breadcrumbs_divider.png"></span></li> 
                                  
                      
                                      


                        </ul>
                    </div>
                </div>
         <div class="grid_12 breadcrumb"  >
         @using (Html.BeginForm("AddPMSCustomer", "ContentWriter", FormMethod.Post, new { @class = "form" }))
         {
                  
               @Html.HiddenFor(m => m.DesignerID)
         <div class="col-md-10 adddiv" style="background-color:white">
             <div class="table-responsive tabletr">
                 <table class="table table-hover table-bordered">
                     <tr style="background-color:#cccccc; align-content:center">
                        
                              <td colspan="2"> <label for="DesignerFirstName">Add PMS Customer</label></td>
                            
                          
                           
                         </tr>
                     <tr >
                        
                              <td> <label for="DesignerFirstName">FirstName</label></td>
                            <td> 
                                 @Html.TextBoxFor(m => m.DesignerFirstName  )
                                 @Html.ValidationMessageFor(m=>m.DesignerFirstName) 
                            </td>
                          
                           
                         </tr>
                      
                    
                     
                     
                    
                    
                     <tr>
                          <td><label for="EmailId">EmailId</label></td>
                        <td>
                            @Html.TextBoxFor(m=>m.EmailId)
                            @Html.ValidationMessageFor(m=>m.EmailId)
                        </td>
                         
                     </tr>
                    
                   
                     <tr>
                         <td colspan="2" style="text-align:center">
                             <input  class="btn btn-default" type="Submit" value="Submit" id="btnDesigner" style="width:168px"/>
                         </td>
                          
                     </tr>
                 </table>
             </div>
         </div>
         }
        </div>
              </div>
     </div>

 </div>
  <script type="text/javascript">
      $("#AddedOn").datepicker();
    //  $("#toDate").datepicker();

      var gridParent = $("#mvcGrid");
      $("#btnDesigner").bind("click", function () {
          var $form = $(this).closest("form");

          var _AddedOn = $("#AddedOn").val();
          var _todate = $("#toDate").val();
          var page = 1;


          var url;
          url = "/Admin/Order/Index?page=" + page + "&AddedOn=" + _AddedOn  + "";

          $.get(url).success(function (data) {
              debugger;

              var container = '#' + $(gridParent).attr('id');
              var table = $('<div/>').html(data).find(container).html()
              $(container).html(table);
          });



      });


     // + "&todate=" + _todate
      //Dropdownlist Selectedchange event   

      $("#Country").change(function () {


          $("#State").empty();

          $.ajax({

              type: 'POST',

              url: "GetStatelistBycountryID",

               data: { id: $("#Country").val() },

              success: function (data) {
                  //  $("#State").val(data.Country)

                  // states contains the JSON formatted list

                  // of states passed from the controller
                  var count = 0;
                  $.each(data, function (i, city) {
                      if (count == 0) {
                          getcitylist(city.Value);
                      }
                      count++;

                      $("#State").append('<option value="'

                  + city.Value + '">'

                  + city.Text + '</option>');

                  });

              },



              error: function (data) {

              }
          });
      })
      function getcitylist(id) {
          $("#City").empty();

          $.ajax({

              type: 'POST',

              url: "GetCitylistBystateID",

              dataType: 'json',

              data: { id: id },

              success: function (data) {
                  //  $("#State").val(data.Country)

                  // states contains the JSON formatted list

                  // of states passed from the controller

                  $.each(data, function (i, city) {

                      $("#City").append('<option value="'

                  + city.Value + '">'

                  + city.Text + '</option>');

                  });

              },



              error: function (data) {

              }
          });
      }
      $("#State").change(function () {

          $("#City").empty();

          $.ajax({

              type: 'POST',

              url: "GetCitylistBystateID",

              dataType: 'json',

              data: { id: $("#State").val() },

              success: function (data) {
                  //  $("#State").val(data.Country)

                  // states contains the JSON formatted list

                  // of states passed from the controller

                  $.each(data, function (i, city) {

                      $("#City").append('<option value="'

                  + city.Value + '">'

                  + city.Text + '</option>');

                  });

              },



              error: function (data) {

              }
          });
      })


      //$(document).ready(function () {
      //    var txtaddedon = $('#hiddendate').val();
      //    $("#AddedOn").val(txtaddedon);
      //});


  </script>
  
    

    
     
   

 
